<%= stylesheet_link_tag 'spelling_prefixes', :plugin => 'redmine_correct_spelling' %>

<h2><%=h l(:label_spelling) %>#<%= @spelling_prefix.id %></h2>

<div class="input-area">
<%= labelled_form_for :spelling_prefix, @spelling_prefix,
    {:url => project_spelling_prefix_path(@project),
     :html => {:multipart => true, :id => 'spelling_prefix_form'}} do |p| %>
  <%= render :partial => 'spelling_prefixes/form', :locals => {:form => p} %>
  <%= p.submit l(:button_edit) %>
<% end %>
</div>
