<%= stylesheet_link_tag 'spelling_prefixes', :plugin => 'redmine_correct_spelling' %>

<h2><%=h l(:label_spelling) %></h2>

<div class="input-area">
<%= labelled_form_for :spelling_prefix, @spelling_prefix,
    :url => project_spelling_prefixes_path(@project) do |f| %>
  <%= render :partial => 'spelling_prefixes/form', :locals => {:form => f} %>
  <%= f.submit l(:button_create) %>
<% end %>
</div>

<% if @spelling_prefixes.blank? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list spelling_prefixes">
    <thead>
      <tr>
        <th style="width:50px;"><%= sortable "id", "#" %></th>
        <th style="width:50px;">&nbsp;</th>
        <th style="width:100px;"><%= sortable "yomi", "よみ（ひらがな）" %></th>
        <th style="width:200px;"><span style="color:#5BCE14;"><%=h l(:field_spell_ok) %></span></th>
        <th style="width:200px;"><span style="color:#E80000;"><%=h l(:field_spell_ng) %></span></th>
        <th><%=h l(:field_example) %></th>
        <th><%=h l(:field_exception) %></th>
        <th style="width:50px;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @spelling_prefixes.each do |prefix| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= prefix.id %></td>
          <td><%= link_to l(:button_edit),
                edit_project_spelling_prefix_path(@project, prefix),
                :class => 'icon icon-edit' %></td>
          <td><%= prefix.yomi %></td>
          <td><%= prefix.spell_ok %></td>
          <td><%= prefix.spell_ng %></td>
          <td><%= prefix.example %></td>
          <td><%= prefix.exception %></td>
          <td><%=delete_link project_spelling_prefix_path(@project, prefix) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>